body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
}

li {
  list-style: none;
}

ul {
  padding: 0 auto;
  margin: 0 auto;
}

.sun-icon,
.cloud-icon,
.snow-icon {
  font-size: 100px;
  margin-top: 50px;
}
.rain-icon {
  color: rgb(37, 63, 179);
  font-size: 100px;
  margin-bottom: 50px;
  text-align: center;
}

.sun-icon {
  color: orange;
}

.cloud-icon {
  color: skyblue;
}

.snow-icon {
  color: aqua;
}

#temperature {
  color: black;
  font-size: 35px;
}

#units {
  font-size: 15px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 20px auto;
}

.weather-app {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
}
