body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
}

li {
  list-style: none;
}

ul {
  padding: 0 auto;
  margin: 0 auto;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 20px auto;
}

.weather-app {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 0;
  padding-left: 11px;
  padding-right: 11px;
}

.active {
  color: black;
  cursor: default;
}

.active:hover {
  cursor: default;
  color: black;
}

#temperature {
  font-size: 35px;
}

#units {
  font-size: 15px;
}

#celsius-link {
  text-decoration: none;
  position: relative;
  top: -12px;
}

#fahrenheit-link {
  text-decoration: none;
  position: relative;
  top: -12px;
  right: -2px;
}

#line {
  position: relative;
  top: -14px;
  right: -4px;
  font-size: 12px;
}

#forecast-days {
  position: relative;
  left: 15px;
}

#forecast-icon {
  position: relative;
  left: -20px;
}

#forecast-highlow {
  position: relative;
}

#forecast-border {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
}
